<div class="modal modal--backdrop" role="dialog" id="myModal" tabindex="-1" aria-describedby="modal-description3">
    <section class="modal__content" role="document">
        <div class="modal__body" tabindex="0" lang="en-US">
            <div class="row" style="margin-top: 20px;">

                <div class="col-xs-6">
                    <button style="float: right;" class="modal__close-button">
                        <i class="icon icon-cross"></i>
                        {{ 'close'|trans|capitalize }}
                    </button>
                </div>
            </div>
                        <h3 style="color: white">Neem hier contact met ons op !</h3>
                    </div>
                    <div class="input input--horizontal">
                        <div>
                            <label class="input__label" for="contact">{{ 'contact'|trans|capitalize }} </label>
                        </div>
                        <textarea required="" id="contact" name="contact" aria-describedby="hint_name" class="input__control input__control--text input__control--l"></textarea>
                    </div>
    </section>
</div>
