{% extends "content.html.twig" %}

{% block content %}
    <div class="row">

        <div class="col-md-8 col-sm-12">
            <div class="content-background" >
                <div class="content">

                    {% if app.user|default %}
                        {% if certificate|default %}
                            {% if certificate.type|default %}
                                <h2>{{ certificate.type|capitalize }}</h2>
                            {% endif %}

                            {% if certificate.image|default or certificate.document|default %}
                                <p>Download hier uw waardepapier:</p>
                            {% endif %}

                            {% if certificate.image|default %}
                                <a href="{{ certificate.image }}" download>
                                    <div class="file">
                                        <i class="file__icon icon icon-document" role="presentation"></i>
                                        <div class="file__data">
                                            <div class="file__filename">
                                                <strong class="file__title break-all">JPG</strong>
                                                <span class="meta">Foto</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endif %}

                            {% if certificate.document|default %}
                                <br>
                                <a href="{{ certificate.document }}" download>
                                    <div class="file">
                                        <i class="file__icon icon icon-document" role="presentation"></i>
                                        <div class="file__data">
                                            <div class="file__filename">
                                                <strong class="file__title break-all">PDF</strong>
                                                <span class="meta">Document</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endif %}

{#                            {% if certificate.claim|default %}#}
{#                                <a href="data:application/json;base64,{{ certificate.claim }}" download>#}
{#                                    <div class="file">#}
{#                                        <i class="file__icon icon icon-document" role="presentation"></i>#}
{#                                        <div class="file__data">#}
{#                                            <div class="file__filename">#}
{#                                                <strong class="file__title break-all">JSON</strong>#}
{#                                                <span class="meta">Claim</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </a>#}
{#                            {% endif %}#}

                        {% endif %}
                    {% endif %}
                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->
    </div>
{% endblock %}
