:root {
    --primary-bg: #00377A;
    --primary-color: #FFFFFF;
    --secondary-bg: #FFFFFF;
    --secondary-color: #00377A;
    --tertiary-bg: #FA4494;
}

.primary-colors {
    background: var(--primary-bg) !important;
    color: var(--primary-color) !important;
}

.secondary-colors {
    background: var(--secondary-bg) !important;
    color: var(--secondary-color) !important;
}

.tertiary-colors {
    background: var(--tertiary-bg) !important;
}
