
<div class="input input--horizontal">
    <div>
        <label class="input__label" for="{{ property.id }}">{{ property.title }}</label>
    </div>
    <ul class="input__group-list">
        <li class="input__group input__group--checkbox">
            <ul>
            </ul>
        </li>

    </ul>
</div>
