<div class="content-background" >
    <div class="content">
        <h2>{{ 'check-ins'|capitalize }}</h2>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">{{ 'Datum'|trans|capitalize }}</th>
                <th scope="col">{{ 'Totaal'|trans|capitalize }}</th>
                <th scope="col">12:00</th>
                <th scope="col">12:00</th>
                <th scope="col">12:00</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>9-jul-2020</td>
                <td>4</td>
                <td>1</td>
                <td>0</td>
                <td>3</td>
            </tr>

            </tbody>
        </table>

    </div><!-- /.content -->
</div><!-- /.content-background -->



