{% extends "base.html.twig" %}

{% block container %}

    <article>
        <div class="row">
        <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
            <div class="content-background">
                <div class="content">
                    <h1>Error <span style="color: red">500</span>: er ging iets mis</h1>
                    <p style="">
                        Het lijkt erop dat er wat mis gegaan is.
                        Laat ons dit weten en dan zullen wij dit zo snel mogelijk voor u oplossen.
                        Onze excuses voor het ongemak.
                    </p>
                </div>
            </div>
        </div>
        </div>
    </article>


{% endblock %}
