{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <section class="row">
            <div class="col-xs-12 col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content">
                    <header class="content__header">
                        <h1 class="content__header-title">Proto Applicatie NL Design</h1>
                        <p class="content__header-paragraph">Welkom bij de proto applicatie NL design, deze applicatie bied een dunnne implementatie van Symfony voor draaien van NL Design System op en commonground Haven omgeving.</p>
                    </header>
                </div>
            </div>
        </section>

        <article>
            <div class="row">
                <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                    <div class="content-background">

                        <div class="content">
                            <h2 id="inloggen-verzuimloket">Waarom zie ik deze pagina?</h2>
                            <p>Gefeliciteerd! Uw installatie is geslaagd!</p>
                            <p>Er zijn echter nog een paar aanvullende gegevens nodig om de applicatie goed te kunnen laten werken</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}
