.processen ul {
    clear: left;
    padding: 0 .5em;
}

@media only screen and (min-width: 35em) {
    .processen ul {
        padding:0;
    }

    .processen ul li {
        width: 32%;
        float: left;
        margin-right: 2%
    }
}

@media only screen and (min-width: 60em) {
    .processen ul {
        padding-right: .8em;
    }

    .processen ul li {
        width: 19%;
        float: left;
        margin-right: 1.25%
    }
}

.processen ul li {
    list-style: none;
    margin-top: 0;
    margin-bottom: .6em;
    padding: 0;
    background-image: none
}

@media only screen and (min-width: 35em) {.processen ul li:nth-child(3n) {
    margin-right:0
}
}

@media only screen and (min-width: 60em) {
    .processen ul li:nth-child(3n) {
        margin-right:1.25%
    }

    .processen ul li:nth-child(5n) {
        margin-right: 0
    }

    .processen:after {
        display: none
    }

    .processen ul {
        width: 66.67%;
        float: left
    }
}

.processen ul li{
    background-image: none;
    padding-left: 0
}

@media only screen and (min-width: 35em) {
    .processen ul li {
        width:48%
    }

    .processen {
        margin-left: 17px;
    }
}

@media only screen and (min-width: 60em) {
    .processen ul li {
        width:32%;
        float: left;
        margin-bottom: .8em;
        margin-right: 2%

    }

    .processen {
        margin-left: 0px;
    }
}

@media only screen and (min-width: 35em) {
    .processen ul li:nth-child(2n) {
        margin-right:0
    }
}

@media only screen and (min-width: 60em) {
    .processen ul li:nth-child(2n) {
        margin-right:2%
    }

    .processen ul li:nth-child(3n) {
        margin-right: 0
    }

    .processen ul li:nth-child(5n) {
        margin-right: 2%
    }

    .processen a {
        min-height: 10.2em
    }
}

.processen {
    margin: 0 -1.2em;
    margin-top: 25px;
}

@media only screen and (min-width: 35em) {
    .processen li:nth-child(3n) {
        margin-right:2%
    }
}

@media only screen and (min-width: 60em) {
    .processen li:nth-child(3n) {
        margin-right:0
    }
}

.processen ul {
    margin-top: 0;
    margin-left: 0;
}

.processen a {
    display: block;
    text-align: center;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #CC0000;
    color: #FFF;
    text-decoration: none;
}

.processen a:hover {
    background-color: #3669A5;
    border-color: #3669A5;
    transform: scale(1.02)
}

.processen a span {
    font-size: 1.25em
}

@media only screen and (min-width: 35em) {
    .processen a {
        padding:2.5em .75em .75em;
        min-height: 9em
    }

    .processen a span {
        font-size: 1.125em;
        line-height: 1.2
    }
}
